@charset 'utf8';

/* ****************************** */
/* カスタムプロパティ */
/* ****************************** */

:root {
    --color-bg-base: #fff;
    --color-bg-light: #eceff4;
    --color-bg-icon: #d8dee9;
    --color-font-base: #4c566a;
}

:root {
    --width-content: 1080px;
}

:root {
    --font-family-base: "Noto Sans JP", sans-serif;
}


/* ****************************** */
/* 全体共通のスタイル */
/* ****************************** */

html {
    background-color: var(--color-bg-base);
}

body {
    line-height: 1.75;
    font-size: 12px;
    color: var(--color-font-base);
    font-family: var(--font-family-base);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

.c-title2 {
    font-size: 2em;
    text-align: center;
}

.c-title3 {
    font-size: 1.2em;
}

.c-title3--center {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--width-content);
}

.c-padding {
    padding: 6em 0;
}

footer {
    text-align: center;
}


/* ****************************** */
/* headerのスタイル */
/* ****************************** */

header {
    height: 100vh;
}

.header-main {
    padding-top: 6.5em;
    font-size: 3em;
    line-height: 1.2em;
}

.header-sub {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    .header-main {
        padding-top: 5em;
    }
}


/* ****************************** */
/* aboutのスタイル */
/* ****************************** */

.about-item {
    text-align: center;
    margin-top: 3em;
}

.about-img img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover
}

.about-text,
.about-depiction {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    .about-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img {
        width: 40%;
    }

    .about-text {
        width: 45%;
    }
}


/* ****************************** */
/* skillのスタイル */
/* ****************************** */

.skill-list {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.skill-icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-bg-icon);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor : pointer;
}

.skill-icon:hover{
    transform: scale(1.2, 1.2);
}

.skill-icon span {
    font-size: 2.5em;
}

.skill-description {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .skill-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5em 1.5em;
    }

    .skill-item {
        width: calc((100% - 48px) / 3);
    }
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.modal-bg{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 10%;
}

body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}


/* ****************************** */
/* workのスタイル */
/* ****************************** */

.work-item {
    margin-top: 4em;
    text-align: center;
}

.work-item img {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
}

@media screen and (min-width: 768px) {
    .work-item img {
        width: 65%;
    }
}
